<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">

    <!-- Título -->
    <title>Pokemon Trader</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons: https://www.favicon-generator.org/ -->
    <link rel="shortcut icon" href="dist/img/favicon.ico">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="plugins/jqvmap/jqvmap.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="plugins/daterangepicker/daterangepicker.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- moment: https://momentjs.com/ -->
    <link rel="stylesheet" href="plugins/moment/moment.min.js">
    <!-- summernote -->
    <link rel="stylesheet" href="plugins/summernote/summernote-bs4.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- Sweetalert2 https://sweetalert2.github.io/ -->
    <link rel="stylesheet" href="plugins/sweetalert2/sweetalert2.min.css">
    <!-- Toastr https://codeseven.github.io/toastr/demo.html -->
    <link rel="stylesheet" href="plugins/toastr/toastr.min.css">
    <!-- Animate: https://animate.style/ -->
    <link rel="stylesheet" href="plugins/animate/animate.compat.min.css">
    <!-- Font Awesome: https://fontawesome.com/ -->
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
    <!-- jquery-lighter: https://www.jqueryscript.net/zoom/Responsive-jQuery-Lightbox-Like-Image-Zooming-Plugin-Lighter.html -->
    <link rel="stylesheet" href="plugins/jquery-lighter/jquery.lighter.css">
    <!-- Resizeandcrop: https://www.jqueryscript.net/other/Crop-Resize-Images-jQuery-resizeAndCrop.html-->
    <link rel="stylesheet" href="plugins/resizeandcrop/jquery.resizeandcrop.css">
    <!-- thdoan-magnify: https://thdoan.github.io/magnify/-->
    <link rel="stylesheet" href="plugins/thdoan-magnify/magnify.css">
    <!-- clockpicker: https://www.jqueryscript.net/time-clock/jQuery-Clock-Style-Time-Picker-Plugin-For-Bootstrap-3-clockpicker.html -->
    <link rel="stylesheet" href="plugins/clockpicker/bootstrap-clockpicker.min.css">
    <!-- iosOverlay: https://www.jqueryscript.net/other/iOS-Style-jQuery-Overlays-Notifications-Plugin-iosOverlay-js.html -->
    <link rel="stylesheet" href="plugins/iosOverlay/iosOverlay.css">
    <!-- fullCalendar -->
    <link rel="stylesheet" href="plugins/fullcalendar/main.min.css">
    <link rel="stylesheet" href="plugins/fullcalendar-daygrid/main.min.css">
    <link rel="stylesheet" href="plugins/fullcalendar-timegrid/main.min.css">
    <link rel="stylesheet" href="plugins/fullcalendar-bootstrap/main.min.css">
    <!-- bootstrap-colorselector -->
    <link rel="stylesheet" href="plugins/bootstrap-colorselector/bootstrap-colorselector.css">
    
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/adminlte.min.css">
    <!-- Custon CSS -->
    <link rel="stylesheet" href="dist/css/custon-login.css">
    <link rel="stylesheet" href="dist/css/custon-admin.css">
    <!-- CSS Dashboard -->
    <link rel="stylesheet" href="dist/css/alt/adminlte.pages.css">

</head>