<!-- Left navbar links -->
<ul class="navbar-nav" style="margin-left: -10px;">
    <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a href="/admin" class="nav-link">Home</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a href="/" class="nav-link">Logoff</a>
    </li>
</ul>

<!-- Search form -->
<form class="form-inline ml-3">
    <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" id="mySearch" onkeyup="menuFilter()" type="search" placeholder="Search" aria-label="Search" readonly="true">
        <div class="input-group-append">
            <button class="btn btn-navbar" type="submit" disabled="">
        <i class="fas fa-search"></i>
      </button>
        </div>
    </div>
</form>

<!-- Right navbar links -->
<ul class="navbar-nav ml-auto">
    <li class="nav-item d-none d-sm-inline-block">
        <a class="nav-link" style="cursor: pointer;" onClick="history.go(-1)">Voltar</a>
    </li>

    <li class="nav-item d-none d-sm-inline-block">
        <a class="nav-link" style="cursor: pointer;" onCLick="history.forward()">Avançar</a>
    </li>
</ul>